@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Стили для header */
.navigation-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.favorite-text {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.header-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

/* Стили для main */
.hero {
  background-color: #FFFFFF;
  background: url(../images/hero-background.jpg) no-repeat,
              url(../images/vector-hero-background.svg) no-repeat;
}

/*Блок Причин*/
.reason-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reason-header-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.reason-list {
  list-style: none;
}

/*Фоны карточек причин и преимуществ*/
.background-one {
  background: rgba(131, 179, 211, 0.12);
}

.background-two {
  background-color: #82B3D3;
}

.background-three {
  background-color: #FFFFFF;
}

.background-four {
  background: rgba(131, 179, 211, 0.2);
}

.reason-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.white {
  color: #FFFFFF;
}

.reason-text {
  text-align: center;
}

/*Блок Преимуществ*/
.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/*Блок поиска гостиницы*/
.search-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

/*Блок подписки на рассылку */
.subscribe {
  color: #FFFFFF;
  background-color: #ffffff;
  background:  url(../images/subscribe-background.jpg) no-repeat;
}

.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.field {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/*Подвал сайта*/
.footer-social-list {
  list-style: none;
}

.footer-social-item .button {
  color: #000000;
  text-decoration: none;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/*Страница Каталог*/
.inner-header {
  color: #FFFFFF;
  background-color: #ffffff;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;;
}

.control-label-input {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.control-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.control-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/*Каталог гостиниц*/
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-item {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.button-detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-price {
  text-align: right;
}
.rating-stars-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* Пагинация */
.pagination-catalog-list {
  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-space {
  color: #000000;
  background-color: #FFFFFF;
}

/* Блок подписки в каталоге */
.subscribe-inner {
  color: #000000;
  background-image: none;
}
