@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;

}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Стили для header */
.page-header {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 70px;
}

.logo {
  z-index: 0;
}

.navigation {
  justify-content: flex-start;
}

.navigation-list {
  max-width: 339px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.favorite-text {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.header-link-button {
  width: 160px;
  background-color: #756157;
}

/* Стили для main */
.hero {
  height: 485px;
  display: flex;
  justify-content: center;
  background-color: #D9EAF2;
  background: url(../images/vector-hero-background.svg) left bottom no-repeat,
              url(../images/hero-background.jpg) no-repeat;
  background-size: contain, auto;
}

/*Блок Причин*/
.reason {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.reason-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reason-header-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*Фоны карточек причин и преимуществ*/
.background-one {
  background: rgba(131, 179, 211, 0.12);
}

.background-two {
  width: 1200px;
  flex-direction: row;
  background-color: #82B3D3;
}

.background-three {
  background-color: #FFFFFF;
}

.background-four {
  background: rgba(131, 179, 211, 0.2);
}

.reverse-card {
  flex-direction: row-reverse;
}

.reason-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.white {
  color: #FFFFFF;
}

.reason-text {
  text-align: center;
}

/*Блок Преимуществ*/
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/*Блок поиска гостиницы*/
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  width: 376px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

/*Блок подписки на рассылку */
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  background:  url(../images/subscribe-background.jpg) no-repeat;
}

.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
}

.field {
  width: 452px;
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.subscribe-button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
}

/*Подвал сайта*/
.page-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  width: 142px;
  display: flex;
  list-style: none;
}

.footer-social-item .button {
  color: #000000;
  text-decoration: none;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/*Страница Каталог*/
.inner-header {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #68A2CA;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
}

.wrapper-inner-header {
  margin: 0 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item-image {
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;;
}

.control-label-input {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.catalog-filter-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-button-submit {
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
}

.control-button-reset {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/*Каталог гостиниц*/
.catalog {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sorting {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sorting-card-button {
  font-family: "PT Sans";
}

.sorting-card-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.catalog-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 18px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.button-detail {
  background-color: #756157;
}

.button-favorites {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #82B3D3;
}

.text-price {
  text-align: right;
}
.rating-stars-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* Пагинация */
.pagination-catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-space {
  color: #000000;
  background-color: #FFFFFF;
}

/* Блок подписки в каталоге */
.subscribe-inner {
  color: #000000;
  background-image: none;
}
